.service {
    padding: 144px 15px 144px;
    .content {
        h4 {
            font-weight: 600;
        }
    }
}

.service-banner {
    img {
        width: 100%;
        object-fit: cover;
    }
}