<section>
  <div class="container service gnt">
    <div class="header">
      <div class="content">
        <h1 class="title">Our Services</h1>
        <div class="row">
          <div class="col-sm-6">
            <p>Our resources proactively provide valuable and intelligent insight to help advance your business and generate revenue.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="service-banner">
    <img src="https://www.gnt.com.vn/_nuxt/img/img.0a51aab.jpg" />
  </div>
  <div class="container service gnt">
    <div class="header">
      <div class="content">
        <h3 class="title">Your end-to-end digital partner</h3>
        <div class="row">
          <div class="col-sm-6">
            <p>With over 300 employees worldwide, GNT VN has been a leader in providing world-class tech products and offshore software development services for over a decade. The people who work with us are the key to our success. Their talent, enthusiasm, and loyalty separate GNT from the pack.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-service">
      
    </div>
  </div>
</section>