.product {
    padding: 144px 15px 144px;
    .content {
        h4 {
            font-weight: 600;
        }
    }
}

.product-banner {
    img {
        width: 100%;
        object-fit: cover;
    }
}

.tab-product {
    ul {
        list-style: none;
        padding-left: 0;
        li {
            display: inline-block;
            padding: 20px 0;
            margin-right: 70px;
            a {
                cursor: pointer;
                font-size: 18px;
                &::after {
                    position: absolute;
                    left: 51%;
                    right: 51%;
                    bottom: 0;
                    content: "";
                    height: 2px;
                    background: #4d83e7;
                    transition: all .5s ease;
                }
                
            }
            &:hover {
                &::after {
                    left: 0;
                    right: 0;
                }
            }
        }
        li.active {
            a {
                color: #f06626;
            }
        }
    }
}

.product-item {
    margin-bottom: 10px;
    .product-img {
        img {
            width: 100%;
        }
    }
    .product-right {
        position: relative;
        height: 100%;
        .title {
            margin-top: 10px;
            font-weight: 500;
            text-transform: uppercase;
        }
        p {
            letter-spacing: 0.5px;
        }
        a.go-to {
            display: block;
            color: #466799;
            transition: all .5s ease;
            font-size: 16px;
            font-weight: 700;
            padding: 20px 0;
            &:hover {
                .fa {
                    margin-left: 15px;
                }
            }
        }
        .fa {
            transition: all .5s ease;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 700;
        }
    }
    .item-foot {
        position: absolute;
        bottom: 10px;
        width: 100%;
        display: flex;
        .f-left {
            width: 50%;
            display: inline-flex;
            .app-store {
                margin-right: 15px;
            }
        }
        .f-right {
            width: 50%;
            float: right;
            text-align: right;
            display: inline;
            padding-top: 10px;
        }
    }
}