<section>
  <div class="container product gnt">
    <div class="header">
      <div class="content">
        <h1 class="title">Products</h1>
        <div class="row">
          <div class="col-sm-6">
            <p>GNT says yes to challenges, and strives to establish a reputation in the tech industry for our gaming
              applications and other products. We also provide development tools and systems to speed up your product
              development.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product-banner">
    <img src="https://www.gnt.com.vn/_nuxt/img/img.b7e16d9.jpg" />
  </div>
  <div class="container product gnt">
    <div class="header">
      <div class="content">
        <h4>We build winning projects</h4>
        <div class="row">
          <div class="col-sm-6">
            <p>GNT proudly presents our state-of-the-art technological products that capture the hearts and minds of
              millions of users worldwide..</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-product">
      <ul>
        <li class="active">
          <a>All</a>
        </li>
        <li>
          <a>Game</a>
        </li>
        <li>
          <a>Applications</a>
        </li>
        <li>
          <a>Others</a>
        </li>
      </ul>
    </div>
    <div class="list-product">
      <div class="product-item">
        <div class="row">
          <div class="col-sm-7">
            <div class="product-img">
              <img src="https://www.gnt.com.vn/_nuxt/img/GOKEN.4b887b1.jpg" />
            </div>
          </div>
          <div class="col-sm-5">
            <div class="product-right">
              <h3 class="title">Goken</h3>
              <p>
                GOKEN seeks to bring back everything that was right about gaming in an action-packed open world environment in the form of the good old Action RPG genre and have old school gamers tremble in nostalgia. Combining the classic style of Japanese role-playing games with the innovation and intuition of Vietnamese artists and developers, GOKEN brings nothing to gamers but pure joy and exhilaration.
              </p>
              <a class="go-to">
                Go to GOKEN
                <i class="fa fa-angle-right"></i>
              </a>
              <div class="item-foot">
                <div class="list-app">
                  <div class="app-store">
                    <a>
                      <img src="https://www.gnt.com.vn/_nuxt/img/ic-steam.3076309.svg"/>
                    </a>
                  </div>
                </div>
                <div class="f-right">
                  <p class="hashtag">#Games</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>