<section class="contact mt-144">
  <div class="container gnt">
    <div class="header">
      <div class="content">
        <h1 class="title">Contact Us</h1>
        <div class="row">
          <div class="col-sm-6">
            <p>Request a customized product demonstration and discover how we can take your business into the next
              level.</p>
          </div>
        </div>
      </div>
      <div class="content mt-144">
        <div class="row">
          <div class="col-sm-6">
            <div class="address">
              <h6>GNT VN Co., Ltd</h6>
              <div class="item">
                <p class="head">Headquarters</p>
                <p class="location">46-48-50-52 B4 Street, Sala Urban Area, An Loi Dong Ward,
                  District 2, Ho Chi Minh City</p>
              </div>
              <div class="item">
                <p class="head">Art Studio</p>
                <p class="location">121 Nguyen Binh Khiem Street, Da Kao Ward,
                  District 1, Ho Chi Minh City</p>
              </div>
            </div>
            <div class="other">
              <div class="item">
                <p>Contact</p>
                <ul>
                  <li>(+84) 28 2228 1111</li>
                  <li>(+84) 28 3636 2829</li>
                </ul>
              </div>
              <div class="item">
                <p>Email</p>
                <ul>
                  <li>info@gnt.com.vn</li>
                  <li>recruitment@gnt.com.vn</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-contact">
              <h4>Ask us what we can help</h4>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Name*" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email*" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Company Name*" />
                </div>
                <div class="form-group">
                  <textarea class="form-control" placeholder="Message*" rows="3"></textarea>
                </div>
                <div class="text-right">
                  <button type="button">SEND <i class="fa fa-angle-right"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>