.slider-job {
    .job-title {
        font-weight: 800;
        font-size: 25px;
        letter-spacing: normal;
        display: flex;
        margin-bottom: 32px;
        .text-orange {
            color: #f06626;
            margin-right: 5px;
            margin-left: 5px;
        }
        svg {
            height: 38.2px;
            width: 153px;
        }
    }

    .job-item {
        border-radius: 4px;
        .job-header {
            img {
                width: 100%;
                height: 128px;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
        .job-body {
            padding: 25px 80px;
            height: 200px;
            background-color: #fafbff;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            .title {
                font-size: 30px;
                font-weight: 800;
                margin-bottom: 15px;
            }
            .status {
                color: #f06626;
                font-size: 16px;
                letter-spacing: normal;
                margin-bottom: 8px;
            }
            .level {
                color: #9ea5ac;
            }
        }
    }
}

.leftRs {
    position: absolute;
    background-color: #666;
    margin: auto;
    z-index: 10;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    cursor: pointer;
    left: 0;
    color: #fff;
    border: none;
    &:focus {
        outline: none;
    }
}

.rightRs {
    position: absolute;
    cursor: pointer;
    background-color: #666;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 999px;
    right: 0;
    z-index: 10;
    color: #fff;
    border: none;
    &:focus {
        outline: none;
    }
}
