<div class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-6">
          <p class="gnt-title">GNT VN Co., Ltd</p>
          <ul class="footer-left">
            <li>
              <a class="name">Headquarters</a>
              <p class="address">46-48-50-52 B4 Street, Sala Urban Area, An Loi Dong Ward,
                District 2, Ho Chi Minh City</p>
            </li>
            <li>
              <a class="name">Art Studio</a>
              <p class="address">121 Nguyen Binh Khiem Street, Da Kao Ward,
                District 1, Ho Chi Minh City</p>
            </li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <select class="form-control select-lang">
            <option>Tiếng việt</option>
            <option>English</option>
          </select>
          <ul class="social-icon">
            <li class="icon-item">
              <a>
                <i class="fa fa-send"></i>
              </a>
            </li>
            <li class="icon-item">
              <a>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="icon-item">
              <a>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li class="icon-item">
              <a>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-left">
          <a>Back to top</a>
        </div>
        <div class="col-md-6 text-center">
          <p>© 2018 GNT VN Co., Ltd. All rights reserved</p>
        </div>
        <div class="col-md-3 text-right">
          <p class="privacy">Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
