/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Roboto Slab",serif;
}

p {
    color: #747c83;
}

.ngucarousel-items {
    .tile {
        box-shadow: none !important;
    }
}

.gnt {
    .header {
        position: relative;
        margin-bottom: 60px;
        .content {
            .title {
                font-size: 48px;
                font-weight: 500;
                letter-spacing: normal;
                margin-bottom: 20px;
            }
            p {
                font-size: 16px;
                color: #747c83;
                line-height: 1.6;
                letter-spacing: 0.5px;
            }
        }
        a {
            position: absolute;
            bottom: 0;
            right: 0;
            font-size: 16px;
            color: #747c83;
            i {
                margin-left: 5px;
                font-size: 20px;
                font-weight: 700;
                line-height: 1.63;
                transition: all 0.5s ease;
            }
        }
    }
}